:root {
    --header-text: #FFF;
    --text-hover: #94CFFF;
    --button-color: #26C6EA;
    --button-bg: #0B0E66;
    --citation-text: #0A3853;
    --autor-text: #000;
    --border-trailer: #26C7EA;
    --citaion-two: #141414;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

blockquote {
    margin: 0;
    padding: 0;
}

.container {
    outline: 1px solid red;
    width: 1056px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}

/* HEADER */

header {
    border-bottom: 3px solid #FFF;
    background: rgba(43, 74, 97, 0.87);
    padding-top: 39px;
    padding-bottom: 39px;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
}

.header-link {
    margin-right: 168px;
}


.nav {}

.nav-list {
    display: flex;
    
}

.nav-item {
   margin-right: 38px;

}

.nav-link {
    color: var(--header-text);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 300;
}

.nav-link:hover {
    color: var(--text-hover);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
}

.header-list {
    display: flex;
}

.header-item {

}

.header-btn {
    width: 141px;
    height: 41.694px;
    color: var(--button-color);
    font-family: "HeadlandOne";
    font-size: 20px;
    font-weight: 400;
    background-color: var(--button-bg);
    border: 1px solid var(--border-trailer);
    border-radius: 45px 0;
    margin-right: 49px;
}


.header-text {
    color: var(--header-text);
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px;
    
}

/* HERO */
.hero {
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 204px;
    padding-bottom: 155px;

}

.hero-list {}

.list-item {}

.list-text {
    width: 298px;
    height: 96px;
    color: var(--header-text);
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-text:nth-child(2) {
    width: 376px;
    height: 123px;
}

.item-button {
    width: 260px;
    height: 80px;
    color: var(--border-trailer);
    text-align: center;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    border-radius: 45px 0px;
    border: 3px solid var(--border-trailer);
    background: var(--button-bg);

}

/* CITATION */
.citation {}

.citation-list {}

.list-item {}

.item-citation {}

.citation-text-first {
    color: var(--citation-text);
    font-family: "Inter";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 730px;
}

.citation-ttext {
    color: var(--citation-text);
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    width: 1002px;
}

.citation-autor {
    color: var(--autor-text);
    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
}

.item-img {}

/* TRAILER */
.trailer {
    background-image: url(../img/trailer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 331px;

}

.trailer-button {
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid var(--border-trailer);
    background-color: var(--button-bg);
    color: var(--border-trailer);
    text-align: justify;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* CITATION TWO */
.citation-two {}

.citation-two-list {}

.list-item {}

.item-citation {}

.citation-text {
    color: var(--citaion-two);
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    width: 886px;
}

.citation-description {
    color: var(--citaion-two);
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
}

.citation-autor {
    color: var(--autor-text);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
}

.item-img {}

/* CARDS */
.cards {
    background-image: url(../img/cards-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 58px;
    padding-bottom: 57px;
}

.cards-title {
    color: #141414;
    font-family: "HeadlandOne";
    font-size: 32px;
    font-weight: 400;
}

.cards-list {}

.list-item-cards {
    background: rgba(255, 255, 255, 0.70);
}

.item-text {
    color: var(--citaion-two);
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    /* 100% */
}

.item-img {}

.item-language {
    color: #000;
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    /* 100% */
}

/* FOOTER */
.footer {}

.footer-link {}

.link-img {}

.footer-addres {}

.addres-list {}

.link-item {}

.item-text {}