:root {
    --header-text: #FFF;
    --text-hover: #94CFFF;
    --button-color: #26C6EA;
    --button-bg: #0B0E66;
    --citation-text: #0A3853;
    --autor-text: #000;
    --border-trailer: #26C7EA;
    --citaion-two: #141414;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

blockquote {
    margin: 0;
    padding: 0;
}

.container {
    outline: 1px solid red;
    width: 1056px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}

/* HEADER */

header {
    border-bottom: 3px solid #FFF;
    background: rgba(43, 74, 97, 0.87);
    padding-top: 39px;
    padding-bottom: 39px;

}

.box {
    display: flex;
    align-items: center;
}

.header-link {
    margin-right: 168px;
}


.nav {}

.nav-list {
    display: flex;
    gap: 38px;
    margin-right: 212px;
}

.nav-item {}

.nav-link {
    color: var(--header-text);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 300;
    text-wrap: nowrap;
}

.nav-link:hover {
    color: var(--text-hover);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
}

.header-list {
    display: flex;
}

.header-item {}

.header-btn {
    width: 141px;
    height: 41.694px;
    color: var(--button-color);
    font-family: "HeadlandOne";
    font-size: 20px;
    font-weight: 400;
    background-color: var(--button-bg);
    border: 1px solid var(--border-trailer);
    border-radius: 45px 0;
    margin-right: 49px;
}


.header-text {
    color: var(--header-text);
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px;
}

/* HERO */
.hero {
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 204px;
    padding-bottom: 155px;
}

.bbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 50%;
}

.list-item {
    margin-bottom: 20px;
}

.list-text {
    width: 298px;
    color: var(--header-text);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-wrap: wrap;
}

.list-text:nth-child(2) {
    margin-top: 20px;
    width: 376px;
    height: 123px;
}

.item-button {
    width: 260px;
    height: 80px;
    color: var(--border-trailer);
    text-align: center;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    border-radius: 45px 0px;
    border: 3px solid var(--border-trailer);
    background: var(--button-bg);
    margin-top: 20px;
}

.hero-list-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-item {
    margin-bottom: 20px;
}

.item-programs {
    width: 40px;
    height: 40px;
}

.hero-image {
    max-width: 50%;
    height: auto;
}


/* CITATION */
.citation {
    padding-top: 75px;
}

.citation-list {}

.list-item {}

.item-citation {
    text-align: center;
}

.citation-text-first {
    color: var(--citation-text);
    font-family: "Inter";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 730px;
    margin: 0 auto;
    align-items: center;
}

.citation-ttext {
    color: var(--citation-text);
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    width: 1002px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 16px;
}

.citation-autor {
    color: var(--autor-text);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}

.item-iimg {
    margin: 0 auto;
    align-items: center;
}

/* TRAILER */
.trailer {
    background-image: url(../img/trailer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 331px;
}

.trailer-button {
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid var(--border-trailer);
    background-color: var(--button-bg);
    color: var(--border-trailer);
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-left: 386px;
    margin-right: 406px;
}

/* CITATION TWO */
.citation-two {
    padding-top: 75px;
}

.citation-two-list {
    text-align: center;
}

.list-item {}

.item-citation {}

.citation-text {
    color: var(--citaion-two);
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    width: 886px;
    margin: 0 auto;
    align-items: center;
}

.citation-description {
    color: var(--citaion-two);
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 16px;
}

.citation-autor {
    color: var(--autor-text);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}

.item-img {
    margin: 0 auto;
    align-items: center;
}

/* CARDS */
.cards {
    background-image: url(../img/cards-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 58px;
    padding-bottom: 57px;
}

.cards-title {
    color: #141414;
    font-family: "HeadlandOne";
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 45px;
    text-align: center;
}

.cards-list {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
}

.list-item-cards {
    background: rgba(255, 255, 255, 0.70);
    width: 320px;
    height: 240px;
}

.item-text {
    color: #141414;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 40px;
}

.item-img {
    width: 152px;
    height: 40px;
}

.item-language {
    color: var(--autor-text);
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    line-height: 1px;
    margin-top: 40px;
    margin-bottom: 36px;
    text-align: center;
}

/* CITATION THREE */
.citation-three {
    padding-top: 75px;
}

.citation-three-list {}

.list-item {}

.item-citation {}

.citation-tttext {
    color: var(--citaion-two);
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    width: 938px;
    margin: 0 auto;
    align-items: center;
}

.citation-descriptionn {
    color: var(--citaion-two);
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto;
    align-items: center;
    width: 812px;
    margin-bottom: 16px;
}

.citation-aautor {
    color: var(--autor-text);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;

}

.item-iimg {
    margin: 0 auto;
    align-items: center;
}

/* FOOTER */
.footer {
    background: rgba(43, 74, 97, 0.87);
    padding: 20px 0;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link {
    margin-right: 20px;
}

.footer-hr {
    width: 2px;
    height: 150px;
    border: none;
    background-color: var(--header-text);
    margin: 0 20px;
}

.footer-address {
    color: var(--header-text);
}

.address-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-lines {
    color: var(--header-text);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 10px;
}

.item-rtext {
    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin: 0 auto;
    align-items: center;
}
